# OpenAI settings
OPENAI_API_KEY=<Your OpenAI API Key>
OPENAI_BASE_URL=https://api.openai.com/v1

# RAPID settings
RAPID_API_KEY=<Your RAPID API Key>

# Claude settings
ANTHROPIC_API_KEY=<Your Anthropic API Key>